@keyframes test {
    from{transform:rotateY(0deg)}
    to{transform:rotateY(360deg)}
}

#container {
    perspective: 100dvw;
}

#object {
    transform-style: preserve-3d;
    --full-rotate: 0,1,0,-60deg;
    /* animation: test 10s linear infinite */
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate3d(var(--full-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.anchor {
    transform-style: preserve-3d;
}

.fold {
    --boxWidth: 50dvw;
    width: var(--boxWidth);
    height: 90%;

    --tw-bg-opacity: 0.8;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));

    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(34 211 238 / var(--tw-border-opacity));

    --full-rotate: 0,1,0,80deg;
    --tw-translate-z: calc(var(--boxWidth)*0.56);

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate3d(var(--full-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}