@keyframes test {
    from{transform:rotateY(0deg)}
    to{transform:rotateY(360deg)}
}

#container {
    perspective: 100dvw;
}

#object {
    transform-style: preserve-3d;
    transition:all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    --full-rotate: 0,1,-0.2,-70deg;
    --tw-translate-x: 100px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate3d(var(--full-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.anchor {
    transform-style: preserve-3d;
}

.fold {
    display: flex;
    flex-direction: column;

    --boxWidth: 50dvw;
    width: var(--boxWidth);
    height: fit-content;

    --full-rotate: 0,1,-0.1,95deg;
    --tw-translate-z: calc(var(--boxWidth)*0.51);

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate3d(var(--full-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.opacity-gradient-tb {
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1) 0%, rgba(0,0,0,1)80%, rgba(0,0,0,0) 100%);
  }