.opacity-gradient-tr {
    mask-image: linear-gradient(to right,rgba(0,0,0,0) 5%,rgba(0,0,0,1)10%, rgba(0,0,0,1)90%, rgba(0,0,0,0) 95%);
  }

/* NEXT ANIMATIONS */
.rNext{
  animation: rNextAnim 0.5s normal linear both ;
}

.cNext{
  animation: cNextAnim 0.5s normal linear both ;
}

.rhNext{
  animation: rhNextAnim 0.5s normal linear both ;
}

.lNext{
  animation: lNextAnim 0.5s normal linear both ;
}

@keyframes lNextAnim {
  0% {z-index:-10}
  100% {z-index: -20;transform:translateX(-140%) translateY(-50%)  scale(0.5) ;}
}

@keyframes rhNextAnim {
  0% {z-index:-20}
  100% {z-index: 10;transform:translateX(15%) translateY(-50%)  scale(0.75) ;}
}

@keyframes rNextAnim {
  0% {z-index:-10}
  100% {z-index: 20;transform:translateX(-50%) translateY(-50%) scale(1) ;}
}

@keyframes cNextAnim {
  0% {z-index:10}
  100% {z-index: 0;transform: translateX(-105%) translateY(-50%) scale(0.75);}
}


/* PREV ANIMATIONS */
.rPrev{
  animation: rPrevAnim 0.5s normal linear both ;
}

.cPrev{
  animation: cPrevAnim 0.5s normal linear both ;
}

.lhPrev{
  animation: lhPrevAnim 0.5s normal linear both ;
}

.lPrev{
  animation: lPrevAnim 0.5s normal linear both ;
}

@keyframes rPrevAnim {
  0% {z-index:-10}
  100% {z-index: -20;transform:translateX(50%) translateY(-50%)  scale(0.5) ;}
}

@keyframes cPrevAnim {
  0% {z-index:20}
  100% {z-index: -10;transform:translateX(-15%) translateY(-50%)  scale(0.75) ;}
}

@keyframes  lPrevAnim {
  0% {z-index:-10}
  100% {z-index: 10;transform:translateX(-50%) translateY(-50%) scale(1) ;}
}

@keyframes lhPrevAnim{
  0% {z-index:-20}
  100% {z-index: 10;transform: translateX(-105%) translateY(-50%) scale(0.75);}
}