body{
    background-color: #1D1D3D;
    margin:0;
}

#introductionCard.inactive{
    animation: 1s closeIntro forwards;
}

#introductionCard{
    pointer-events: none;
    height: 165px;
    width: 450px;
    text-align: center;
    position: fixed;
    visibility: hidden;
    z-index: 2;
    top: 10%;
    left: calc(50% - 225px);
    background-color: #b6b39a;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#introductionCard.active{
    animation: 1s forwards openIntro;
}


canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:rgb(111, 162, 102);
    z-index: -1;
}

#instructions-box {
    height: fit-content;
    width: 450px;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    background-color: #e6de99;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#instructions-text {
    color:rgb(0, 0, 0);
    font-weight: bolder;
}

text#shiver {
    animation: shiver 0.5s;
    animation-iteration-count: infinite;
    display: inline-block;
    font-size: 20px;
}

@keyframes shiver {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes openIntro {
    0%{
        visibility: hidden;
        transform: scale(0.1%,2%);
    }
    1%{
        visibility: visible;
    }
    50%{
        transform: scale(100%,1%);
    }
    100%{
        visibility: visible;
        transform:scale(100%,100%);
    }
}

@keyframes closeIntro {
    0%{
        visibility: visible;
        transform:scale(100%,100%);
    }
    50%{
        transform: scale(100%,1%);
    }
    100%{
        visibility: hidden;
        transform: scale(0.1%,2%);
    }
}