body{
    background-color: #1D1D3D;
    margin:0;
}

.back {
    z-index: -1;
}

#gameScreen {
    width: calc( 100% - 20px);
    height: calc( 100% - 20px);
    margin: 10px;
    position: fixed;
    background-color:rgb(111, 162, 102);
}

#instructions-box {
    height: fit-content;
    width: 450px;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    background-color: #e6de99;
    overflow-x: hidden;
    padding: 20px;

}

#instructions-text {
    color:rgb(0, 0, 0);
    font-weight: bolder;
}

text#shiver {
    animation: shiver 0.5s;
    animation-iteration-count: infinite;
    display: inline-block;
    font-size: 20px;
}

@keyframes shiver {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}